@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    margin: 0 13rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
button, input {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: rgb(220, 218, 218);
}
button {
  background-color: rgb(83, 83, 250);
  color: white;
}
.topnav {
  display: flex;
  justify-content: space-between;  
  margin-top: 2rem;
}
.topnav img {
  width: 7rem;
}
.topnav-right :first-child {
  padding-right: 1rem;
}
.section1,.section2,.section3,.section4,.section5 {
  margin-top: 5rem;
}

.section1, .section3, .section5 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  place-items: center;
}

.section1 h2, .section3 h2, .section5 h2 {
  font-size: 3rem;
  line-height: 97%;
}

.section1 img, .section3 img, .section5 img {
  width: 90%;
}
.innersection1 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 1.5rem;
  padding-top: 5rem;
  width: 80%;
}
.section2,.section4 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
  text-align: center;
}
.section2 .innertext, .section4 .innertext {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.innertext img {
  width: 3rem;
}

@media (max-width: 500px) {
  body {
    margin: 1rem 2rem;
  }
  .innersection1 {
    padding-top: 0;
    width: 100%;
  }
  .section1, .section3, .section5, .section2, .section4 {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .section1, .section3, .section5 {
    gap: 2rem;
  }
}